{% extends 'base.html' %}

{% block title %} Info {% endblock %}

{% block content %}
<div class="text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum ligula sed tellus
        commodo, id consectetur
        ligula cursus. Quisque ipsum ligula, maximus sed dui quis, tempor vestibulum dui. Fusce dictum quis magna sed
        tempor. Phasellus malesuada id est vel sodales. Ut et urna sit amet ipsum iaculis interdum. Curabitur mattis
        metus
        vitae arcu condimentum, vitae tristique elit mollis. Nulla eget risus vel erat tempus gravida eu ut massa. Duis
        elementum ac libero non mattis. Donec ut ullamcorper nulla, eget gravida felis.
    </p>
</div>
{% endblock %}